@font-face {
  font-family: 'font';
  src: url(../../../../assets/font/font.ttf);
} 

.about-link {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  @extend %default-pin-bg;

  &-name {
    position: relative;
    width: 100%;
    height: 190px;
    background: url(../../../../assets/images/yibo.png) no-repeat;
    background-size: 100% 100%;
    font-size: 22px;
    
    .text {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: font;
    }
  }
  .xiaozhan {
    background: url(../../../../assets/images/xz.png) no-repeat;
    background-size: 100% 100%;
  }

  &-title {
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
  }

  &-go {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-size: red;
    i {
      color: $purple;
    }
  }
}